<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forms</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="form">
        <form action="/submitted" method="POST">
            <h1>Best Form</h1>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter Your Name" required>
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" placeholder="Enter Your Age" required>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter Your Email Id" required>
            <label for="number">Number:</label>
            <input type="number" name="number" id="number" placeholder="Enter Your Phone  Number" required>
            <label for="textarea">Opinions:</label>
            <textarea name="queries" id="textarea" rows="5" placeholder="Enter Your Opinion" required></textarea>
            <button class="btn" type="submit">Submit</button>

        </form>
    </div>
</body>

</html>